.title{
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 2px rgb(100, 100, 100);
    p{
        font-size: 20px;
        color: rgb(58, 58, 58);
        line-height: 35px;
    }
}

.list{
    width: 100%;
}

table{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(100, 100, 100);
    border-spacing: 0px;
    overflow: hidden;
}

th{
    padding: 10px;
    background-color: lightgray;
}

td{
    text-align: center;
    border-top: 1px solid rgb(192, 192, 192);
    padding: 10px 0;
}

tbody{
    tr{
        cursor: pointer;
        &:hover{
            background-color: rgb(238, 238, 238);
        }
    }
}

.dialog{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.dialog-body{
    width: 50%;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    @media screen and (max-width: 768px){
        width: 80%;
    }
}

.dialog-title{
    color: rgb(58, 58, 58);
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    .close{
        width: 20px;
        height: 20px;
        margin: -10px -10px 0 0;
        text-align: center;
        line-height: 16px;
        border-radius: 3px;
        background-color: rgb(230, 230, 230);
        cursor: pointer;
        &:hover{
            background-color: rgb(207, 207, 207);
        }
    }
}

.filter{
    margin-bottom: 10px;
}

form{
    width: 100%;
}

.form-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .form-group{
        width: 49%;
        margin-bottom: 0;
    }
}

.form-group{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    outline: none;
    padding: 0 10px;
    margin-top: 7px;
    font-size: 16px;
}

select{
    cursor: pointer;
}

textarea{
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    outline: none;
    padding: 8px 15px;
    margin-top: 7px;
    font-size: 16px;
    resize: none;
}

.btns{
    display: flex;
    justify-content: flex-end;
}

.btn{
    width: 85px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.close-btn{
    background-color: lightgray;
    margin-right: 10px;
    border: 1px solid rgb(190, 190, 190);
}

.add-btn{
    background-color: green;
    color: white;
    border: 1px solid rgb(0, 100, 0);
    &:disabled{
        background-color: rgb(79, 114, 79);
    }
}

h2{
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0 5px;
}

.product p{
    margin-left: 10px;
    font-weight: bold;
}

