<footer class="footer">
    <p>
        В нашому інтернет магазині electrodvig.com.ua ви можете недорого купити гіроскутери по найнижчих цінах в Україні
        на 2020 рік. Наші спеціалісти підберуть вам персональний електротранспорт на будь який смак і з  гарантією якості
        від 1 року. Замовити найкращий гіроскутер в магазині можна з безплатною доставкою по всіх регіонах України.
    </p>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a></a>
                </li>
            </ul>
        </nav>
    </div>
</footer>