<div class="container">
    <div class="title">Контакти</div>
    <div class="contacts">
        <div class="call cont">
            <div class="logo ">
                <img src="../../../assets/logos/call.jpg" alt="">
            </div>
            <h2>Подзвоніть нам:</h2>
            <a href="tel:+38(099)-000-00-00">+38(099)-000-00-00</a>
            <a href="tel:+38(099)-000-00-00">+38(099)-000-00-00</a>
            <a href="tel:+38(099)-000-00-00">+38(099)-000-00-00</a>
        </div>
        <div class="write cont">
            <div class="logo">
                <img src="../../../assets/logos/write.jpg" alt="">
            </div>
            <h2>Напишіть нам:</h2>
            <a href="mailto:electrodvig@gmail.com">electrodvig@gmail.com</a>
        </div>
        <div class="address cont">
            <div class="logo">
                <img src="../../../assets/logos/address.jpg" alt="">
            </div>
            <h2>Наша адреса:</h2>
            <p>м. Львів, вул Електрична 1</p>
        </div>
    </div>
</div>