<div class="container">
    <p class="title">Виберіть розділ:</p>
    <div class="content">
        <div class="categories">
            <div class="category" *ngFor="let c of categories">
                <a [routerLink]="'/categories/' + c.nameEN">
                    <div class="category-img" [style.background-image]="'url(' + c.catImage + ')'">
                        <div class="category-name">{{ c.nameUA }}</div>
                    </div>
                </a>
                <div class="category-link-wrapper">
                    <a class="category-link" [routerLink]="'/categories/' + c.nameEN">{{ c.nameUA }} &#9658;</a>
                </div>
            </div>
        </div>
        <div class="text">
            <h2>Електродвіж - місце де зібраний найкращий електротранспорт</h2>
            <p>Офіційнй сайт Electrodvig створений тільки з однією метою - допомогти кожному
                замовити не тільки зручний,
                але і дешевий транспорт. І для цього ми робимо все:</p>
            <ul>
                <li>Постійно слідкуємо за розвитком світу електротранспорту;</li>
                <li>Даємо можливість скористатися новинками якомога раніше;</li>
                <li>Не наживаємось на власних клієнтах, роблячи мінімальну націнку від ціни виробника;</li>
                <li>Стараємось подарувати необхідний товар за максимально низьку вартість.</li>
            </ul>
            <h3>Як ми ведемо справи в нашій компанії Electrodvig</h3>
            <p> Ми б дуже хотіли, щоб кожен бажаючий міг стати власником електротранспорту. І в
                цьому ми бачимо місію компанії
                Hoverboard. Тому крім повного опису всіх технічних характеристик моделей, представлених на офіційному
                сайті
                Electrodvig, ми також формуємо прозору цінову політику.
            </p>
            <h3>Система ціноутворення Hoverboard виглядає наступним чином:</h3>
            <ol>
                <li> Належність пристрою до однієї з фірм виробників;</li>
                <li>Вартість матеріалів, витрачених на виробництво;</li>
                <li>Технічні характеристики пристрою;</li>
                <li>Вартість доставки з магазину;</li>
            </ol>
            <p> Таким чином ціна на гаджети в Electrodvig дозволяє купити що завгодно, без
                прихованих платежів або страховок. Наприклад, гарантія на кожен товар, який ви купили в Electrodvig
                надається виключно фірмою-виробником. Тому, вибираючи наш магазин, ви не замовляєте послуги, які вам не
                потрібні. Electrodvig дозволяє купити
                тільки те, за що ви заплатили і нічого більше.
            </p>
            <h3>У Electrodvig можна купити електротранспорт для дітей і дорослих</h3>
            <p>Завдяки чималому досвіду і налагодженої логістичній системі ми даємо можливість замовити на офіційному
                сайті
                Electrodvig електротранспорт будь-яких конфігурацій:</p>
            <ul>
                <li>Тао Тао гіроскутери;</li>
                <li>Моноколісні апарати;</li>
                <li>Самокати з електродвигуном;</li>
                <li>Сегвеї без керма;</li>
                <li>Скейти з електродвигуном;</li>
                <li>Дрифт-карти;</li>
                <li>Гіроскутери дитячі</li>
                <li>І навіть роботи пилососи.</li>
            </ul>
            <p>Чому такий великий вибір електричного транспорту на офіційному сайті Electrodvig? Справа в тому, що
                кожному подобатися
                щось своє: хтось хотів би купити сигвей позашляховик, а кому-то ближче гіроборди. Магазин Electrodvig
                дозволяє
                замовити за все в кілька кліків високотехнологічний транспорт за допомогою фото, представлених на сайті.
                І ви можете
                не сумніватися, що отримаєте саме те, що і хотіли замовити.</p>
            <h3>Електричний транспорт від Electrodvig - економічно і екологічно</h3>
            <p>Крім низьких цін на покупку бажаного гаджета офіційний магазин Hoverboard дозволяє купити, то, що буде
                економити
                бюджет щодня. Для розуміння просто порівняйте ціну бензину і електроенергії. Очевидно, що останнім
                значно вигідніше.</p>
            <p>Так згідно експериментам, при заміні автомобіля з ДВС на електрокар витрати знижуються в середньому в
                п'ять разів. І
                це тільки на заправку. У підрахунках не було враховано ціни на обслуговування транспорту. Тому до
                отриманої різниці
                сміливо можна додавати ще 50%.</p>
            <h3>Дбаємо про планету разом з електротранспортом від Electrodvig</h3>
            <p>Звичайно, у кожного транспортного засобу є свої плюси і мінуси, але кожен з представлених в магазині
                Electrodvig
                відрізняється своєю екологічністю. Всі вони використовують виключно електричну енергію, не забруднюючи
                тим самим
                атмосферу.</p>
            <p>Також крім відсутності шкідливих вихлопів рух стає максимально тихим. Електродвигун практично не
                продукує звукових
                вібрацій і не нагрівається. Все це робить транспорт від Electrodvig не тільки комфортним, але і
                максимально «зеленим».</p>
        </div>
    </div>
</div>